In [ ]:
# Q1
'''
- 영화 별 평점 시각화
다음과 같은 영화들의 평점을 matplotlib 를 활용하여 그래프로 시각화하세요
영화: Interstellar, Inception, Dune, Tenet, Oppenheimer
평점: [9.0, 8.8, 8.1, 7.5, 8.7]
제목, x축 라벨, y축 라벨, y축 범위 설정, y축 점선 그리드
'''

In [ ]:
# Q2
'''
- 월별 과일 판매량 시각화
과일별 판매량 데이터를 seaborn 으로 그룹 그래프 형식으로 시각화하세요
과일: 사과, 바나나, 오렌지, 포도
1월: [150, 200, 130, 90]
2월: [180, 220, 120, 100]
pandas melt()로 long-format 변환
sns.barplot()으로 월별 그룹 비교
'''

In [ ]:
# Q3
'''
- 시험 점수 분포 시각화
평균 75점, 표준편차 10인 정규분포 데이터를 생성하고 시각화하세요
np.random.normal()로 100개의 점수 생성
plt.hist()로 분포 시각화
x/y축 라벨 및 타이틀 추가가
'''

In [ ]:
# Q4
'''
- 시험 점수 분포 시각화
요일별 방문자 수를 그래프로 시각화하세요
plt.plot() 활용
marker 로 점 표시, 제목/라벨/그리드 포함
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
visitors = [120, 135, 140, 150, 160, 300, 250]
'''

In [ ]:
# Q5
'''
- 타이타닉 생존율 분석
타이타닉 데이터셋을 활용하여 선실 등급(class)별 생존자 수를 시각화하세요
sns.countplot() 사용
hue= 'survived' 옵션을 통해 생존 여부 구분
범례 및 라벨 추가
'''

In [ ]:
# Q6
'''
- COVID-19 시계열 시각화
12개월간 COVID-19 확진자 수 데이터를 시게열 그래프로 표현하세요
pandas 로 날짜 데이터 생성
plt.plot() 으로 추세 시각화
x 축 라벨 회전, 격자 포함
확진자 수 = [120, 300, 500, 700, 1100, 900, 950, 870, 770, 600, 400, 300]
'''

In [ ]:
# Q7
'''
- 펭귄 산점도 분석
펭귄 데이터셋에서 종(species)별 부리 길이와 날개 길이의 관계를 시각화하세요
sns.scatterplot() 사용
hue, style 옵션에 species 설정
'''

In [ ]:
# Q8
'''
- 상관관계 히트맵
iris 데이터셋의 수치형 변수들 간의 상관관계를 히트맵으로 시각화하세요
seaborn 의 heatmap 사용
annot=True, cmap 옵션 설정
'''

In [ ]:
# Q9
'''
- 지역별 매출 파이 차트
서울, 부산, 대구, 광주 지역의 매출을 파이 차트로 시각화하세요
plt.pie() 사용
labels, autopct, startangle 설정 포함함
labels = ['서울', '부산', '대구', '광주']
sales = [400, 200, 150, 100]
'''

In [ ]:
# Q10
'''
- 직군별 연봉 BoxPlot
개발자와 디자이너의 연봉 분포를 boxplot 으로 시각화하세요
seaborn 의 boxplot 사용
가상 연봉 데이터 생성 포함
직군: ['개발자']*50 + ['디자이너']*50
'''