# MySQL

In [ ]:
# MySQL <=> Python(Pandas)
# pandas와 DB 연결 라이브러리: sqlalchemy

!python -m pip install pandas 
!python -m pip install sqlalchemy
!python -m pip install pymysql

In [ ]:
# 1. pandas를 통해서 데이터 만들기

import pandas as pd

data = {
  'name': ['hong1', 'hong2', 'hong3'],
  'age': [30, 31, 32]
}
df_users = pd.DataFrame(data)
print(df_users)

In [ ]:
# 2. MySQL에 연결(sqlalchemy)
from sqlalchemy import create_engine

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'analysis'

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

In [ ]:
# 3. Pandas data > MySQL 저장

import pandas as pd
from sqlalchemy import create_engine

df_users = pd.DataFrame({
  'user_name': ['hong1', 'hong2', 'hong3'],
  'age': [30, 31, 32]
})

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'analysis'

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

df_users.to_sql('users',con=engine,index=False,if_exists='replace')
print("MySQL 데이터 저장 완료")

In [ ]:
# 4. MySQL > Pandas 가져오기

from sqlalchemy import create_engine

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'analysis'

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")
df_from_db = pd.read_sql("SELECT * FROM users",con=engine)
print("MySQL > Pandas:\n", df_from_db)

In [ ]:
# MySQL2_Q 8-8 pandas로 그룹집계 & 시각화

import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT d.dept_name AS 부서명,
  ROUND(AVG(s.salary), 2) AS 평균급여
  FROM departments d
  JOIN employees_salary s ON d.dept_id = s.dept_id
  GROUP BY d.dept_name;
'''

df = pd.read_sql(query, engine)

df.plot(kind='bar', x='부서명', y='평균급여', figsize=(10, 6), legend=False)
plt.title('부서별 평균 급여')
plt.xlabel('부서명')
plt.ylabel('평균 급여')
plt.xticks(rotation=0)
plt.xlim(-0.7, 2.7)
plt.show()

In [ ]:
# MySQL2_Q 9-8 pandas에서 JOIN 쿼리를 가져오기

from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+pymysql://data_id:1234@127.0.0.1/data_collection")

query = '''
  SELECT e.emp_name AS 이름,
  e.email AS 이메일,
  d.dept_name AS 부서명
  FROM employees e
  INNER JOIN departments d
  ON e.dept_id = d.dept_id;
'''

df = pd.read_sql(query, engine)
display(df)

In [ ]:
# MySQL2_Q 9-9 pandas에서 JOIN 쿼리를 가져와 시각화

import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT d.dept_name AS 부서명,
  COUNT(e.emp_id) AS 직원수
  FROM departments d
  LEFT JOIN employees e
  ON d.dept_id = e.dept_id
  GROUP BY d.dept_name
'''

df = pd.read_sql(query, engine)

df.plot(kind='bar', figsize=(10, 6), legend=False)
plt.title('부서별 직원수')
plt.xlabel('부서명')
plt.ylabel('직원수')
plt.xticks(rotation=0)
plt.xlim(-0.7, 3.7)
plt.show()

In [ ]:
# MySQL2_Q 10-8 pandas에서 SELF JOIN 시각화

from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT
  	e1.emp_name AS 직원1,
  	e2.emp_name AS 직원2,
  	d.dept_name AS 부서명
  FROM employees e1
  JOIN employees e2
  	ON e1.dept_id = e2.dept_id
  	AND e1.emp_id < e2.emp_id
  JOIN departments d
  	ON e1.dept_id = d.dept_id;
'''

df = pd.read_sql(query, engine)
display(df)