# MySQL

In [ ]:
# MySQL <=> Python(Pandas)
# pandas와 DB 연결 라이브러리: sqlalchemy

!python -m pip install pandas 
!python -m pip install sqlalchemy
!python -m pip install pymysql
!python -m pip install cryptography

In [ ]:
# 1. pandas를 통해서 데이터 만들기

import pandas as pd

data = {
  'name': ['hong1', 'hong2', 'hong3'],
  'age': [30, 31, 32]
}
df_users = pd.DataFrame(data)
print(df_users)

In [ ]:
# 2. MySQL에 연결(sqlalchemy)
from sqlalchemy import create_engine

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'analysis'

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

In [ ]:
# 3. Pandas data > MySQL 저장

import pandas as pd
from sqlalchemy import create_engine

df_users = pd.DataFrame({
  'user_name': ['hong1', 'hong2', 'hong3'],
  'age': [30, 31, 32]
})

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'analysis'

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

df_users.to_sql('users',con=engine,index=False,if_exists='replace')
print("MySQL 데이터 저장 완료")

In [ ]:
# 4. MySQL > Pandas 가져오기

from sqlalchemy import create_engine

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'analysis'

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")
df_from_db = pd.read_sql("SELECT * FROM users",con=engine)
print("MySQL > Pandas:\n", df_from_db)

In [ ]:
# MySQL2_Q 8-8 pandas로 그룹집계 & 시각화

import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT d.dept_name AS 부서명,
  ROUND(AVG(s.salary), 2) AS 평균급여
  FROM departments d
  JOIN employees_salary s ON d.dept_id = s.dept_id
  GROUP BY d.dept_name;
'''

df = pd.read_sql(query, engine)

df.plot(kind='bar', x='부서명', y='평균급여', figsize=(10, 6), legend=False)
plt.title('부서별 평균 급여')
plt.xlabel('부서명')
plt.ylabel('평균 급여')
plt.xticks(rotation=0)
plt.xlim(-0.7, 2.7)
plt.show()

In [ ]:
# MySQL2_Q 9-8 pandas에서 JOIN 쿼리를 가져오기

from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+pymysql://data_id:1234@127.0.0.1/data_collection")

query = '''
  SELECT e.emp_name AS 이름,
  e.email AS 이메일,
  d.dept_name AS 부서명
  FROM employees e
  INNER JOIN departments d
  ON e.dept_id = d.dept_id;
'''

df = pd.read_sql(query, engine)
display(df)

In [ ]:
# MySQL2_Q 9-9 pandas에서 JOIN 쿼리를 가져와 시각화

import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT d.dept_name AS 부서명,
  COUNT(e.emp_id) AS 직원수
  FROM departments d
  LEFT JOIN employees e
  ON d.dept_id = e.dept_id
  GROUP BY d.dept_name
'''

df = pd.read_sql(query, engine)

df.plot(kind='bar', figsize=(10, 6), legend=False)
plt.title('부서별 직원수')
plt.xlabel('부서명')
plt.ylabel('직원수')
plt.xticks(rotation=0)
plt.xlim(-0.7, 3.7)
plt.show()

In [ ]:
# MySQL2_Q 10-8 pandas에서 SELF JOIN 시각화

from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT
  	e1.emp_name AS 직원1,
  	e2.emp_name AS 직원2,
  	d.dept_name AS 부서명
  FROM employees e1
  JOIN employees e2
  	ON e1.dept_id = e2.dept_id
  	AND e1.emp_id < e2.emp_id
  JOIN departments d
  	ON e1.dept_id = d.dept_id;
'''

df = pd.read_sql(query, engine)
display(df)

In [ ]:
# MySQL3_Q 9-9-1 WHERE 절 서브쿼리(평균 이상 급여)

from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT
  	e.emp_name AS 직원명,
    s.salary AS 급여
  FROM employees e
  JOIN employees_salary s
  	ON e.emp_id = s.emp_id
  WHERE s.salary >= (
  	SELECT AVG(salary) FROM employees_salary
  );
'''

df = pd.read_sql(query, engine)
display(df)

In [ ]:
# MySQL3_Q 9-9-2 SELECT 절 스칼라 서브쿼리(전체 평균과 함께 출력)

from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT
  	e.emp_name AS 직원명,
      s.salary AS 급여,
      (SELECT AVG(salary) FROM employees_salary) AS 전체평균
  FROM employees e
  JOIN employees_salary s
  	ON e.emp_id = s.emp_id;
'''

df = pd.read_sql(query, engine)
display(df)

In [ ]:
# MySQL3_Q 9-9-3 FROM 절 인라인 서브쿼리(부서별 평균급여 >= 4500)

from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT
  	부서명, 평균급여
  FROM (
  	SELECT dept_name AS 부서명, AVG(s.salary) AS 평균급여
      FROM departments d
      JOIN employees_salary s
  		ON d.dept_id = s.dept_id
  	GROUP BY dept_name
  ) AS dept_avg
  WHERE 평균급여 >= 4500;
'''

df = pd.read_sql(query, engine)
display(df)

In [ ]:
# MySQL3_Q 9-9-4 VIEW 사용
# VIEW = v_dept_salary_summary

from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT * FROM v_dept_salary_summary;
'''

df = pd.read_sql(query, engine)
display(df)

In [ ]:
# MySQL3_Q 9-9-5 VIEW + JOIN 사용
# VIEW = v_dept_salary_summary

from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT v.부서명, v.인원수, v.평균급여
  FROM v_dept_salary_summary v;
'''

df = pd.read_sql(query, engine)
display(df)

In [ ]:
# MySQL3_Q 9-9-6 VIEW 사용(평균 이상 급여 직원)
# VIEW = v_salary

from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT * FROM v_salary
  ORDER BY 급여 DESC;
'''

df = pd.read_sql(query, engine)
display(df)

In [ ]:
# MySQL3_Q 10-8-1 데이터 확인

from sqlalchemy import create_engine
import pandas as pd


user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT * FROM performance_test
'''

df = pd.read_sql(query, engine)
print(df)

In [ ]:
# MySQL3_Q 10-8-2 인덱스 없는 쿼리 성능 확인

from sqlalchemy import create_engine, text
import pandas as pd
import time

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

query = '''
  SELECT * FROM performance_test WHERE age >= 40;
'''

with engine.connect() as conn:
  conn.execute(text("DROP INDEX idx_age ON performance_test;"))
  print("인덱스 삭제 완료\n")
    
start = time.time()
df = pd.read_sql(query, engine)
end = time.time()

print(df)
print("Python List 연산 시간:", end - start)

In [ ]:
# MySQL3_Q 10-8-3 인덱스 생성 후 쿼리 성능 확인

from sqlalchemy import create_engine, text
import pandas as pd
import time

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")
    
query = '''
  EXPLAIN SELECT * FROM performance_test WHERE age >= 40;
'''

with engine.connect() as conn:
  conn.execute(text("CREATE INDEX idx_age ON performance_test(age);"))
  print("인덱스 생성 완료\n")
    
start = time.time()
df = pd.read_sql(query, engine)
end = time.time()

print(df)
print("Python List 연산 시간:", end - start)

In [ ]:
# MySQL3_Q 10-8-4 복합 인덱스 생성 후 쿼리 성능 확인

from sqlalchemy import create_engine, text
import pandas as pd
import time

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")
    
query = '''
  EXPLAIN SELECT * FROM performance_test WHERE age >= 40;
'''

with engine.connect() as conn:
  conn.execute(text("CREATE INDEX idx_age_date ON performance_test(age, join_date);"))
  print("인덱스 생성 완료\n")
    
start = time.time()
df = pd.read_sql(query, engine)
end = time.time()

print(df)
print("Python List 연산 시간:", end - start)

with engine.connect() as conn:
  conn.execute(text("DROP INDEX idx_age_date ON performance_test;"))
  print("\n인덱스 삭제 완료")

In [ ]:
# MySQL3_Q 11-3-1 계좌 테이블 데이터 조회

from sqlalchemy import create_engine, text
import pandas as pd

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")
    
query = '''
  SELECT * FROM accounts
'''
df = pd.read_sql(query, engine)
print(df)

In [ ]:
# MySQL3_Q 11-3-2 트랜잭션 없이 계좌 이체(위험 예시)

from sqlalchemy import create_engine, text
import pandas as pd

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

with engine.begin() as conn:
  conn.execute(text("UPDATE accounts SET balance = balance - 30000 WHERE user_id = 1;"))
  conn.execute(text("UPDATE accounts SET balance = balance + 30000 WHERE user_id = 2;"))
    
query = '''
  SELECT * FROM accounts
'''
df = pd.read_sql(query, engine)
print(df)

In [ ]:
# MySQL3_Q 11-3-3 트랜잭션 사용 - COMMIT

from sqlalchemy import create_engine, text
import pandas as pd

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

with engine.begin() as conn:
  try:
    # 계좌 이체 작업
    conn.execute(text("UPDATE accounts SET balance = balance - 30000 WHERE user_id = 1;"))
    conn.execute(text("UPDATE accounts SET balance = balance + 30000 WHERE user_id = 2;"))
    
    # 예시로, 특정 조건을 확인하고 롤백할 수 있음
    # 예를 들어, 잔액이 음수로 계산되는 경우에 롤백하도록 설정
    result = conn.execute(text("SELECT balance FROM accounts WHERE user_id = 1;"))
    balance = result.fetchone()[0]
    
    if balance < 0:
      raise Exception("Insufficient funds for transfer!")  # 의도적으로 예외를 발생시켜 롤백

    # 정상적인 경우 커밋 (자동으로 처리되지만 명시적으로 할 수도 있음)
    # conn.commit()  # 이건 사실 필요없음, 'begin()'이 끝나면 자동 커밋됨

  except Exception as e:
    # 오류 발생 시 롤백
    print(f"Error: {e}")
    conn.rollback()

# 계좌 정보 출력
query = '''
  SELECT * FROM accounts
'''
df = pd.read_sql(query, engine)
print(df)

In [ ]:
# MySQL3_Q 11-3-4 오류 발생 후 ROLLBACK
# 11-3-3 과 같은 구조

from sqlalchemy import create_engine, text
import pandas as pd

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

with engine.begin() as conn:
  try:
    # 계좌 이체 작업
    conn.execute(text("UPDATE accounts SET balance = balance - 30000 WHERE user_id = 1;"))
    conn.execute(text("UPDATE accounts SET balance = balance + 30000 WHERE user_id = 2;"))
    
    # 예시로, 특정 조건을 확인하고 롤백할 수 있음
    # 예를 들어, 잔액이 음수로 계산되는 경우에 롤백하도록 설정
    result = conn.execute(text("SELECT balance FROM accounts WHERE user_id = 1;"))
    balance = result.fetchone()[0]
    
    if balance < 0:
      raise Exception("오류 발생!")
      # 의도적으로 예외를 발생시켜 롤백

    # 정상적인 경우 커밋 (자동으로 처리되지만 명시적으로 할 수도 있음)
    # conn.commit()은 사실상 필요없음, 'begin()'이 끝나면 자동 커밋됨

  except Exception as e:
    # 오류 발생 시 롤백
    print(f"Error: {e}")
    conn.rollback()

query = '''
  SELECT * FROM accounts
'''

df = pd.read_sql(query, engine)
print(df)

In [ ]:
# MySQL3_Q 11-3-5 자동 커밋 모드 확인 및 변경

from sqlalchemy import create_engine, text
import pandas as pd

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# 자동 커밋 켜기 및 상태확인
# with engine.begin() as conn:
#   conn.execute(text("SET autocommit = 1;"))
# query = '''
#   SELECT @@autocommit;
# '''

# 자동 커밋 끄기 및 상태확인
with engine.begin() as conn:
  conn.execute(text("SET autocommit = 0;"))
query = '''
  SELECT @@autocommit;
'''

df = pd.read_sql(query, engine)
print(df)

In [ ]:
# MySQL3_Q 11-3-6 TRANSACTION START 이후, 데이터 변경하고 SELECT 로 값 확인, 그리고 ROLLBACK

from sqlalchemy import create_engine, text
import pandas as pd

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

with engine.begin() as conn:
  try:
    # 계좌 이체 작업
    conn.execute(text("UPDATE accounts SET balance = balance - 30000 WHERE user_id = 1;"))
    conn.execute(text("UPDATE accounts SET balance = balance + 30000 WHERE user_id = 2;"))
    
    
    query = '''
      SELECT * FROM accounts
    '''

    # 롤백 전에 값 확인 - 해당 출력값은 결국 모든 코드가 실행되면 try-except로 인해 ROLLBACK이 실행되어 실행 전 값으로 돌아감
    # engine 대신 conn을 써줘야 하는 이유는 engine은 COMMIT, ROLLBACK 이 실행되기 이전의 값은 가져오지 못하기 때문
    df = pd.read_sql(query, conn)
    print(df)

    # 예시로, 특정 조건을 확인하고 롤백할 수 있음
    # 예를 들어, 잔액이 음수로 계산되는 경우에 롤백하도록 설정
    result = conn.execute(text("SELECT balance FROM accounts WHERE user_id = 1;"))
    balance = result.fetchone()[0]
    
    if balance < 0:
      raise Exception("오류 발생!")
      # 의도적으로 예외를 발생시켜 롤백

    # 정상적인 경우 커밋 (자동으로 처리되지만 명시적으로 할 수도 있음)
    # conn.commit()은 사실상 필요없음, 'begin()'이 끝나면 자동 커밋됨

  except Exception as e:
    # 오류 발생 시 롤백
    print(f"Error: {e}")
    conn.rollback()

In [ ]:
# MySQL3_Q 12. 데이터 수집 연동 (크롤링/API >> MySQL로 저장)

from sqlalchemy import create_engine, text
import pandas as pd
import requests
from bs4 import BeautifulSoup

# 1. 크롤링할 웹사이트
url = "https://news.ycombinator.com/"

# 2. 해당 url에 get 요청을 보내고, 값을 받아옴
# 그 값에는 HTML 전체가 텍스트 형태로 담겨 있음
response = requests.get(url)

# 3. HTML 텍스트를 BeautifulSoup으로 파싱
soup = BeautifulSoup(response.text, 'html.parser')

# 4. a 태그 리스트 가져오기
links = soup.select('span.titleline > a')

# 5. 텍스트만 추출해서 리스트로 저장
titles = [link.text for link in links]

# 6. pandas DatafFrame으로 변환
df = pd.DataFrame(titles, columns=['title'])

# 7. MySQL로 보내기
user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'data_collection'

# SQLAlchemy 엔진 생성
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# 7. 테이블 이름: news_titles (없으면 새로 생성)
try:
  df.to_sql(name='news_titles', con=engine, if_exists='replace', index=False)
  print("MySQL로 전송 완료!")
except Exception as e:
  print(f"Error 발생{e}")