In [ ]:
!python -m pip install scipy

In [ ]:
!python -m pip install scikit-learn

In [ ]:
# 데이터 전처리
# sns.load_dataset("titanic")

In [ ]:
# 데이터 불러오기("titanic")

import seaborn as sns

df = sns.load_dataset("titanic")

display(df.head())
display(df.tail())

In [ ]:
# 전처리 전 데이터 통계 확인

import pandas as pd
import seaborn as sns

df = sns.load_dataset("titanic")

display(df.describe())

In [ ]:
# 결측치 확인

import seaborn as sns

df = sns.load_dataset("titanic")

df = df.isnull().sum()

display(df)

In [ ]:
import seaborn as sns

df = sns.load_dataset("titanic")

# deck - 컬럼 제거
df_cleaned = df.drop(columns=['deck'])
display(df_cleaned.head())

# age - 중위값 대체
df_cleaned['age'] = df_cleaned['age'].fillna(df['age'].median())
display(df_cleaned.isnull().sum())

# embarked - 최빈값 대체
df_cleaned['embarked'] = df_cleaned['embarked'].fillna(df['embarked'].mode()[0])
display(df_cleaned.isnull().sum())

# embarked_town - 결측값 행 삭제
df_cleaned = df_cleaned.dropna(subset=['embark_town'])
display(df_cleaned.isnull().sum())

# 전처리 후 통계
print("\n전처리 후 통계:")
display(df_cleaned.describe(include='all'))

In [ ]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns

df = sns.load_dataset("titanic")
df_cleaned = df.drop(columns=['deck'])
df_cleaned['age'] = df_cleaned['age'].fillna(df['age'].median())
df_cleaned['embarked'] = df_cleaned['embarked'].fillna(df['embarked'].mode()[0])
df_cleaned = df_cleaned.dropna(subset=['embark_town'])


fig, axes = plt.subplots(1, 2, figsize=(12, 5))

sns.histplot(df['age'], kde=True, ax=axes[0])
axes[0].set_title("전처리 전 - Age 분포")

sns.histplot(df_cleaned['age'], kde=True, ax=axes[1])
axes[1].set_title("전처리 후 - Age 분포")

plt.tight_layout()
plt.show()

In [ ]:
# df.info()를 사용해 결측치가 많은 컬럼은 무엇인지 확인

import seaborn as sns

# 데이터 불러오기
df = sns.load_dataset("titanic")

# info()로 전체 데이터 개요 및 결측치 확인
df.info()

In [ ]:
# df['fare']에 대한 전처리 전후의 평균값을 비교

import seaborn as sns

df = sns.load_dataset("titanic")

# 전처리 전 평균
mean_before = df['fare'].mean()

# 전처리 후
df_cleaned = df.copy()
df_cleaned = df_cleaned.drop(columns=['deck'])
df_cleaned['age'] = df_cleaned['age'].fillna(df['age'].median())
df_cleaned['embarked'] = df_cleaned['embarked'].fillna(df['embarked'].mode()[0])
df_cleaned = df_cleaned.dropna(subset=['embark_town'])
mean_after = df_cleaned['fare'].mean()

# 결과 출력
print(f"전처리 전 fare 평균: {mean_before:.2f}")
print(f"전처리 전 fare 평균: {mean_after:.2f}")

In [ ]:
# age 와 fare에 대해 전처리 전후의 히스토그램을 그려보고, 차이를 설명

import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns

df = sns.load_dataset("titanic")
df_cleaned = df.drop(columns=['deck'])
df_cleaned['age'] = df_cleaned['age'].fillna(df['age'].median())
df_cleaned['embarked'] = df_cleaned['embarked'].fillna(df['embarked'].mode()[0])
df_cleaned = df_cleaned.dropna(subset=['embark_town'])

# subplots(행, 열)
fig, axes = plt.subplots(2, 2, figsize=(12, 8))

# 나이 분포
sns.histplot(df['age'], bins=30, kde=True, ax=axes[0,0])
axes[0,0].set_title("전처리 전 - Age 분포")
sns.histplot(df_cleaned['age'], bins=30, kde=True, ax=axes[0,1])
axes[0,1].set_title("전처리 후 - Age 분포")

# 요금 분포
# 전처리 전/후 차이 거의 없음(결측치가 없기 때문)
sns.histplot(df['fare'], bins=30, kde=True, ax=axes[1,0])
axes[1,0].set_title("전처리 전 - Age 분포")
sns.histplot(df_cleaned['fare'], bins=30, kde=True, ax=axes[1,1])
axes[1,1].set_title("전처리 후 - Age 분포")

plt.tight_layout()
plt.show()

In [ ]:
# 결측치 처리

# 결측치 탐색 및 시각화
# 결측치 삭제, 평균/중앙값/최빈값 대체 방법 학습
# 결측치 처리 전후 모델 성능 비교

In [ ]:
# 데이터 불러오기

import seaborn as sns

df = sns.load_dataset("titanic")

In [ ]:
# 결측치 개수 확인

import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns

df = sns.load_dataset("titanic")

missing = df.isnull().sum()
print(missing[missing>0]) # 조건문 사용

In [ ]:
# 시각화(Heatmap)

import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns

df = sns.load_dataset("titanic")

plt.figure(figsize=(10,6))
sns.heatmap(df.isnull(), cbar=False, cmap="YlOrRd")
# cbar=False: 컬러바 표시 여부
# cmap="YlOrRd": 컬러맵 스타일 지정
#   Yl(Yellow) > Or(Orange) > Rd(Red)
plt.title("결측치 Heatmap")
plt.show()

In [ ]:
# 1. deck 컬럼은 결측치가 너무 많아 삭제
# 2. age 컬럼: 중앙값으로 대체
# 3. embarked 컬럼: 최빈값으로 대체
# 4. embark_town 컬럼: 결측치 있는 행 삭제
# 5. 결측치 처리 후 결측치 수

import seaborn as sns

df = sns.load_dataset("titanic")
display(df.isnull().sum())

# 비교를 위한 복사본 생성
df_copy = df.copy()

# deck 컬럼 삭제
df_copy = df_copy.drop(columns=['deck'])

# age 컬럼 중앙값 대체
df_copy['age'] = df_copy['age'].fillna(df_copy['age'].median())

# embarked 컬럼 최빈값으로 대체
df_copy['embarked'] = df_copy['embarked'].fillna(df_copy['embarked'].mode()[0])

# embark_town 컬럼 결측치 있는 행 삭제
df_copy = df_copy.dropna(subset=['embark_town'])

print(f"원본 크기: {df.shape}")
print(f"결측 제거 후 크기: {df_copy.shape}")

In [ ]:
# 결측치처리(3)
# sns.load_dataset("titanic")

# 결측치 있는 컬럼 출력
# age, dmbarked 결측치 채우기
# age 평균 비교
# 결측치 있는 행 전체 제거

In [ ]:
# 결측치 있는 컬럼 출력

import seaborn as sns

df = sns.load_dataset("titanic")
df_isnull = df.isnull().sum()

print(df_isnull[df_isnull>0])

In [ ]:
# age, embarked 결측치 채우기

import seaborn as sns

df = sns.load_dataset("titanic")

df_filled = df.copy()
df_filled['age'] = df_filled['age'].fillna(df_filled['age'].median())
df_filled['embarked'] = df_filled['embarked'].fillna(df_filled['embarked'].mode()[0])

print(df_filled[['age', 'embarked']].isnull().sum())

In [ ]:
# age 평균 비교

import seaborn as sns

df = sns.load_dataset("titanic")

df_copy = df.copy()
df_copy['age'] = df_copy['age'].fillna(df_copy['age'].median())

age_before = df['age'].mean()
age_after = df_copy['age'].mean()

print(f"전처리 전 age 평균: {age_before:.2f}")
print(f"전처리 후 age 평균: {age_after:.2f}")

In [ ]:
# 결측치 있는 행 전체 제거

import seaborn as sns

df = sns.load_dataset("titanic")

df_copy = df.copy()
df_copy = df.dropna()

print(f"원본 크기: {df.shape}")
print(f"결측 제거 후 크기: {df_copy.shape}")

In [ ]:
# 이상치 탐지 및 처리

# 이상치(Outlier)의 개념 이해
# 탐지 방법 (IQR, Z-score 등) 실습
# 이상치 제거/대체의 필요성과 영향 분석

# pandas, matplotlib, seaborn, scipy
# sns.load_dataset("titanic")

In [ ]:
from IPython.display import Image
Image(filename='image/IQR.png', width=1000)

# IQR

In [ ]:
from IPython.display import Image
Image(filename='image/Z_Score.png', width=1000)

# Z-score

In [ ]:
# 3-2 Boxplot 으로 이상치 시각화

import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns

df = sns.load_dataset("titanic")

cols = ['age', 'fare']
fig, ax = plt.subplots(1, 2, figsize=(10, 4))

for i, col in enumerate(cols):
  sns.boxplot(data=df[col], ax=ax[i])
  ax[i].set_title(f"{col.capitalize()} 이상치 탐색")

plt.show()

In [ ]:
# 3-2 age컬럼 IQR 방법으로 이상치 탐지 및 제거

import seaborn as sns
df = sns.load_dataset("titanic")

# age 이상치 제거 함수
def remove_outliers_iqr(data, column):
  Q1 = data[column].quantile(0.25)
  Q3 = data[column].quantile(0.75)
  IQR = Q3-Q1
  lower = Q1 - IQR * 1.5
  upper = Q3 + IQR * 1.5
  filtered = data[
    (data[column] > lower) & (data[column] < upper)
  ]
  return filtered
  
# age 기준 이상치 제거
df_no_outliers = remove_outliers_iqr(df, 'age')

print(f"원본 데이터 크기: {df.shape}")
print(f"이상치 제거 후 크기: {df_no_outliers.shape}")

In [ ]:
# 3-2 age 컬럼 Z-score 기준 이상치 개수
import numpy as np
from scipy import stats

import seaborn as sns
df = sns.load_dataset("titanic")

# 결측치 제거 후 계산
age_data = df['age'].dropna()
z_scores = np.abs(stats.zscore(age_data))
threshold = 3
outliers = age_data[z_scores > threshold]

print(f"|z-score| > 3인 Age 이상치 갯수: {len(outliers)}")

In [ ]:
# 3-3 fare 컬럼 IQR 방법으로 이상치 탐지 및 제거

import seaborn as sns
df = sns.load_dataset("titanic")

def remove_outliers_iqr(data, column):
  Q1 = data[column].quantile(0.25)
  Q3 = data[column].quantile(0.75)
  IQR = Q3 - Q1
  lower = Q1 - IQR * 1.5
  upper = Q3 + IQR * 1.5
  filtered = data[
    (data[column] > lower) & (data[column] < upper)
  ]
  return filtered

df_no_outliers = remove_outliers_iqr(df, 'fare')

print(f"원본 데이터 크기: {df.shape}")
print(f"이상치 제거 후 크기: {df_no_outliers.shape}")

In [ ]:
# 3-3 fare 컬럼 Z-score 기준 이상치 개수

import numpy as np
from scipy import stats

import seaborn as sns
df = sns.load_dataset("titanic")

fare_data = df['fare'].dropna()
z_scores = np.abs(stats.zscore(fare_data))
threshold = 3
outliers = fare_data[z_scores > threshold]

print(f"|z-score| > 3인 Fare 이상치 갯수: {len(outliers)}")

In [ ]:
# 이상치 제거 전후 평균 비교

import seaborn as sns
df = sns.load_dataset("titanic")

def remove_outliers_iqr(data, column):
  Q1 = data[column].quantile(0.25)
  Q3 = data[column].quantile(0.75)
  IQR = Q3 - Q1
  lower = Q1 - IQR * 1.5
  upper = Q3 + IQR * 1.5
  filtered = data[
    (data[column] > lower) & (data[column] < upper)
  ]
  return filtered

df_no_outliers = []

theme = ['age', 'fare']
for col in theme:
  df_no_outliers.append(remove_outliers_iqr(df, col))
display(df_no_outliers[0])
# Age 평균 비교
age_mean_before = df['age'].mean()
age_mean_after = df_no_outliers[0]['age'].mean()

# Fare 평균 비교
fare_mean_before = df['fare'].mean()
fare_mean_after = df_no_outliers[0]['fare'].mean()

print(f"Age 평균 - 전: {age_mean_before:.2f}, 후: {age_mean_after:.2f}")
print(f"Fare 평균 - 전: {fare_mean_before:.2f}, 후: {fare_mean_after:.2f}")

In [ ]:
# 데이터 타입 변환

# 다양한 데이터 타입의 이해
# 수치형 <-> 문자열 <-> 날짜형 변환
# 카테고리형 데이터 처리

# seaborn, pandas, datetime
# sns.load_dataset("titanic")

In [ ]:
# 데이터 타입 확인 및 변환

import seaborn as sns

df = sns.load_dataset("titanic")

# 데이터 타입 확인
print(f"{df.dtypes}\n")

# 데이터 타입 변환
df_copy = df.copy()
df_copy['sex'] = df_copy['sex'].astype('category')
df_copy['class'] = df_copy['class'].astype('category')
df_copy['embarked'] = df_copy['embarked'].astype('category')

print(df_copy[['sex', 'class', 'embarked']].dtypes)

In [ ]:
# 날짜형 데이터 추가 및 변환

import seaborn as sns
df = sns.load_dataset("titanic")

# 가상의 날짜 컬럼 추가
df['book_date'] = pd.date_range('2023-01-01', periods=len(df), freq='D')
# periods=len(df) : 생성할 날짜의 갯수
# freq='D': Day(하루 단위)

print(len(df))
display(df.head())

# 날짜 >> 연/월/요일 파생 컬럼 생성
df['연'] = df['book_date'].dt.year
df['월'] = df['book_date'].dt.month
df['요일'] = df['book_date'].dt.day_name()
display(df.head())

In [ ]:
# 문자형 >> 수치형 (Label Encoding)

import seaborn as sns
df = sns.load_dataset("titanic")

# 성별을 숫자로 변환 (map(): 성별(male, female))
df['sexNum'] = df['sex'].map({'male': 0, 'female': 1})

print(df[['sex', 'sexNum']].tail())

In [ ]:
# 4-3

# fare 정수형 변환
# embarked 컬럼 범주형 변환
# book_date 에서 요일 추출 및 월요일 승객 수 세기
# who 컬럼 인코딩

In [ ]:
# fare 컬럼 정수형 변환

import seaborn as sns
df = sns.load_dataset("titanic")

df_copy = df.copy()
df_copy['fare'] = df_copy['fare'].astype('int')
# df_copy['fare'] = df_copy['fare'].fillna(0).astype('int')
# astype('int')를 사용할 때 NaN이 포함되어 있으면 에러 발생, 있을 경우 결측치를 채워줘야함

print(f"원본 fare 타입: {df['fare'].dtypes}")
print(f"변환 후 fare 타입: {df_copy['fare'].dtypes}")

In [ ]:
# embarked 컬럼 범주형 변환

import seaborn as sns
df = sns.load_dataset("titanic")

df_copy = df.copy()
df_copy['embarked'] = df_copy['embarked'].astype('category')

print(f"원본 embarked 타입: {df['embarked'].dtypes}")
print(f"변환 후 embarked 타입: {df_copy['embarked'].dtypes}")

In [ ]:
# book_date 에서 요일 추출 및 월요일 승객 수 세기

import seaborn as sns
df = sns.load_dataset("titanic")

df['book_date'] = pd.date_range('2023-01-01', periods=len(df), freq='D')
df['요일'] = df['book_date'].dt.day_name()

monday_count = df[df['요일'] == 'Monday'].shape[0]
print(f"월요일 탑승객 수: {monday_count}명")

In [ ]:
# who 컬럼 인코딩

import seaborn as sns
df = sns.load_dataset("titanic")

df['whoNum'] = df['who'].map({'man': 0, 'woman': 1, 'child': 2})

print(f"who 컬럼 값 종류: {df['who'].unique()}\n")
print(df[['who', 'whoNum']].tail())

In [ ]:
# 문자열 처리와 정규표현식

# 문자열 데이터 정제 방법 이해
# 기본 문자열 메서드 활용
# 정규표현식을 통한 패턴 기반 텍스트 처리

# pandas, re

In [ ]:
# 데이터프레임 생성 및 출력

import pandas as pd

data = pd.DataFrame({
  'comment': [
    "This is AMAZING!!!",
    "Buy now!!! $$$ Save 50%",
    "   hello world   ",
    "E-mail me at user@example.com",
    "오늘 날씨가 참 좋네요. ^^"
  ]
})

print(data)

In [ ]:
# 기본 문자열 처리

import pandas as pd
import re

data = pd.DataFrame({
  'comment': [
    "This is AMAZING!!!",
    "Buy now!!! $$$ Save 50%",
    "   hello world   ",
    "E-mail me at user@example.com",
    "오늘 날씨가 참 좋네요. ^^"
  ]
})

# 소문자 변환, 공백 제거, 특수문자 제거 (정규표현식)
def clean_text(text):
  text = text.lower()
  text = text.strip()
  text = re.sub(r'[^a-z0-9가-힣\s]', '', text)
  return text
data['cleaned'] = data['comment'].apply(clean_text)
display(data[['comment', 'cleaned']])

# 이메일 추출
data['email'] = data['comment'].str.extract(r'([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})')
display(data[['comment', 'email']])

# buy - 특정 키워드 포함 여부
data['has_buy'] = data['comment'].str.contains('buy', case=False)
# case=False: 대소문자 구분
display(data[['comment', 'has_buy']])

In [ ]:
# 5-3

# 문자열을 모두 소문자로 변환하고 공백을 제거한 결과 출력
# 특수문자와 이모지를 모두 제거한 comment_clean 컬럼을 생성
# 이메일이 있는 경우만 출력하고, 이메일 도메인(@뒤)를 추출
# 'save'라는 단어가 포함된 문장을 찾아 표시

# 문자열 정제 - 소문자화, 공백 제거, 특수문자 제거
# 정규표현식 - 패턴 기반 이메일 추출, 키워드 탐지
# 실전 활용 - 감성분석, 리뷰 분석, 이메일 필터링, 광고 필터, ...

In [ ]:
# 소문자, 공백 제거

import pandas as pd

data = pd.DataFrame({
  'comment': [
    "This is AMAZING!!!",
    "Buy now!!! $$$ Save 50%",
    "   hello world   ",
    "E-mail me at user@example.com",
    "오늘 날씨가 참 좋네요. ^^"
  ]
})

data['comment_clean'] = data['comment'].str.lower().str.strip()
display(data[['comment', 'comment_clean']])

In [ ]:
# 특수문자, 이모지 제거

import pandas as pd
import re

data = pd.DataFrame({
  'comment': [
    "This is AMAZING!!!",
    "Buy now!!! $$$ Save 50%",
    "   hello world   ",
    "E-mail me at user@example.com",
    "오늘 날씨가 참 좋네요. ^^"
  ]
})

def clean_text(text):
  text = re.sub(r'[^\w\s가-힣]', '', text, flags=re.UNICODE)
  return text

data['comment_clean'] = data['comment'].apply(clean_text)
display(data[['comment', 'comment_clean']])

In [ ]:
# 이메일, 도메인 추출

import pandas as pd

data = pd.DataFrame({
  'comment': [
    "This is AMAZING!!!",
    "Buy now!!! $$$ Save 50%",
    "   hello world   ",
    "E-mail me at user@example.com",
    "오늘 날씨가 참 좋네요. ^^"
  ]
})

# 이메일 추출
data['email'] = data['comment'].str.extract(r'([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})')
display(data)

# 도메인 추출
data['email_domain'] = data['email'].str.extract(r'@(.+)$')
display(data[['comment', 'email_domain']])

data['has_save'] = data['comment'].str.contains(r'\bsave\b', case=False, na=False)
display(data[['comment', 'has_save']])

In [ ]:
# 스케일링 (정규화 & 표준화)

# 정규화 vs 표준화의 차이 이해
# 다양한 스케일링 기법 실습
# 모델 적용 전후 비교

In [ ]:
from IPython.display import Image
Image(filename='image/scaling.png', width=1000)

# 정규화 (Min-MAX) [0, 1]로 변환

In [ ]:
from IPython.display import Image
Image(filename='image/scaling2.png', width=1000)

# 표준화(standardization) vs 정규화(normalization)

In [ ]:
# 데이터 로드 및 시각화

import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns

df = sns.load_dataset("titanic")

df = df[['age', 'fare']].dropna()

sns.pairplot(df)
plt.suptitle("[스케일링 전 데이터 분포]", y=1.02)
plt.show()

In [ ]:
# 다양한 스케일린 적용

import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

df = sns.load_dataset("titanic")
df = df[['age', 'fare']].dropna()

# 정규화 (Min-Max)
minmax = MinMaxScaler()
df_minmax = pd.DataFrame(minmax.fit_transform(df), columns=['age', 'fare'])
 
# 표준화 (Z-score)
standard = StandardScaler()
df_standard = pd.DataFrame(standard.fit_transform(df), columns=['age', 'fare'])
 
# RobustScaler - 이상치에 강한 스케일링(중앙값 기반)
#              - IQR과 비슷한 듯?
robust = RobustScaler()
df_robust = pd.DataFrame(robust.fit_transform(df), columns=['age', 'fare'])

In [ ]:
# 스케일링 결과 비교 시각화 
 
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

df = sns.load_dataset("titanic")
df = df[['age', 'fare']].dropna()

minmax = MinMaxScaler()
standard = StandardScaler()
robust = RobustScaler()

# 정규화 (Min-Max)
df_minmax = pd.DataFrame(minmax.fit_transform(df), columns=['age', 'fare'])
 
# 표준화 (Z-score)
df_standard = pd.DataFrame(standard.fit_transform(df), columns=['age', 'fare'])
 
# RobustScaler - 이상치에 강한 스케일링(중앙값 기반)
#              - IQR과 비슷한 듯?
df_robust = pd.DataFrame(robust.fit_transform(df), columns=['age', 'fare'])

scalings = [df_minmax, df_standard, df_robust]
scaling_title = ["Min-Max Scaled - Fare", "Standard Scaled - Fare", "Robust Scaled - Fare"]

fig, axes = plt.subplots(1, 3, figsize=(18, 5))

for i, scaling in enumerate(scalings):
  sns.kdeplot(data=scaling, x='fare', fill=True, ax=axes[i])
  axes[i].set_title(f"{scaling_title[i]}")
plt.tight_layout()
plt.show()

In [ ]:
# MinMaxScaler 정규화

import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

df = sns.load_dataset("titanic")
df = df[['age', 'fare']].dropna()

minmax = MinMaxScaler()
df_minmax = pd.DataFrame(minmax.fit_transform(df), columns=['age', 'fare'])
display(df_minmax)

In [ ]:
# StandardScaler 표준화 (Z-score)

import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

df = sns.load_dataset("titanic")
df = df[['age', 'fare']].dropna()

standard = StandardScaler()
df_standard = pd.DataFrame(standard.fit_transform(df), columns=['age', 'fare'])
display(df_standard)

In [ ]:
# RobustScaler 로 이상치 영향을 줄이기
# 아마도 IQR 과 비슷 (boxplot)

import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

df = sns.load_dataset("titanic")
df = df[['age', 'fare']].dropna()

robust = RobustScaler()
df_robust = pd.DataFrame(robust.fit_transform(df), columns=['age', 'fare'])

sns.boxplot(data=df_robust['age'])
plt.title('Robust Scaled Age (이상치 영향 감소소)')
plt.show()

In [ ]:
# 스케일링 결과 비교 시각화 (히스토그램)

import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

df = sns.load_dataset("titanic")
df = df[['age', 'fare']].dropna()

minmax = MinMaxScaler()
standard = StandardScaler()
robust = RobustScaler()

# 정규화 (Min-Max)
df_minmax = pd.DataFrame(minmax.fit_transform(df), columns=['age', 'fare'])
 
# 표준화 (Z-score)
df_standard = pd.DataFrame(standard.fit_transform(df), columns=['age', 'fare'])
 
# RobustScaler - 이상치에 강한 스케일링(중앙값 기반)
#              - IQR과 비슷한 듯?
df_robust = pd.DataFrame(robust.fit_transform(df), columns=['age', 'fare'])

scalings = [df_minmax, df_standard, df_robust]
scaling_title = ["Min-Max Scaled - Fare", "Standard Scaled - Fare", "Robust Scaled - Fare"]

fig, axes = plt.subplots(3, 1, figsize=(10, 10))

for i, scaling in enumerate(scalings):
  sns.histplot(data=scaling, x='fare', kde=True, fill=True, ax=axes[i])
  axes[i].set_title(f"{scaling_title[i]}")
plt.tight_layout()
plt.show()

In [ ]:
# 파생 변수 생성 (Feature Engineering)

# 파생 변수의 개념과 목적 이해
# 날짜, 범주, 수치 데이터 기반 변수 생성
# 누적, 그륩 요약, 랭킹 등 실습

In [ ]:
# 나이대, 가족 유무 파생

import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')
print(df.columns)

df_copy = df.copy()
df_copy = (
  df_copy
  .dropna(subset=['age'])
  .reset_index(drop=True)
)

# 나이대
df_copy['age_group'] = pd.cut(
  df_copy['age'],
  bins=[0, 12, 19, 35, 60, 100],
  labels=['어린이', '청소년', '청년', '중년', '노년']
)
display(df_copy[['age', 'age_group']].tail())

# 가족 유무('has_family')
df_copy['has_family'] = df_copy['sibsp']+df['parch']
df_copy['has_family'] = df_copy['has_family'].apply(lambda x: 1 if x > 0 else 0)

display(df_copy[['age', 'sibsp', 'parch', 'has_family']].head(10))

In [ ]:
# 요일 및 주말 여부 파생

# 날짜 가정: 승선 날짜
import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')
df['board_date'] = pd.date_range(start="2023-01-01", periods=len(df), freq='D')
df['day_of_week'] = df['board_date'].dt.day_name()
df['is_weekend'] = df['day_of_week'].isin(['Saturday', 'Sunday']).astype(int)

display(df[['board_date', 'day_of_week', 'is_weekend']].head(5))

In [ ]:
# 그룹 요약 - 평균 fare 계산

import seaborn as sns

df = sns.load_dataset('titanic')
df_isnull = df.isnull().sum()
print(df_isnull[df_isnull > 0])

# 선실 등급별 평균 요금
df['fare_class_mean'] = df.groupby('pclass')['fare'].transform('mean')

display(df[['pclass', 'fare', 'fare_class_mean']].tail())

In [ ]:
# 순위 및 누적값

import seaborn as sns

df = sns.load_dataset('titanic')

# 요금 순위('fare_rank'): rank()
df['fare_rank'] = df['fare'].rank(method='min', ascending=False).astype(int).astype(str)+'위'

# 요금 내림차순 기준으로 정렬
df_sorted = df.sort_values(by='fare', ascending=False).reset_index(drop=True)

# 요금 누적합('fare_cumsum'): cumsum()
df_sorted['fare_cumsum'] = df_sorted['fare'].cumsum()

display(df_sorted[['fare', 'fare_rank', 'fare_cumsum']].head(10))

In [ ]:
# 나이대 구분 (미성년자, 성인, 노인)

import seaborn as sns

df = sns.load_dataset('titanic')

def age_categorize(age):
  if pd.isnull(age):
    return 'Unknown'
  elif age <= 18:
    return '미성년자'
  elif age < 65:
    return '성인'
  else:
    return '노인'

df['age_group'] = df['age'].apply(age_categorize)

display(df[['age', 'age_group']].head(10))

In [ ]:
# 성별 숫자 인코딩 파생

import seaborn as sns

df = sns.load_dataset('titanic')

df['sex_num'] = df['sex'].map({'male': 0, 'female': 1})

display(df[['sex', 'sex_num']].head())

In [ ]:
# 일요일 승객 수

import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')
df['board_date'] = pd.date_range(start="2023-01-01", periods=len(df), freq='D')
df['day_of_week'] = df['board_date'].dt.day_name()

sunday_count = df[df['day_of_week'] == 'Sunday'].shape[0]
print(f"일요일에 탑승한 승객수: {sunday_count}명")

In [ ]:
# 선실등급별 요금 중앙값 파생

import seaborn as sns

df = sns.load_dataset('titanic')

# 선실 등급별 평균 요금
df['fare_class_median'] = df.groupby('pclass')['fare'].transform('median')

display(df[['pclass', 'fare', 'fare_class_median']].head())

In [ ]:
# 중복 제거 & 논리 이상값 처리

# 중복 데이터 탐지 및 제거
# 논리적으로 잘못된 데이터 탐색
# 조건 필터링을 통한 데이터 정제

In [ ]:
# 중복 데이터 탐지 및 제거

import seaborn as sns

df = sns.load_dataset('titanic')

# 중복 행 수: duplicated()
print(f"중복된 행 수: {df.duplicated().sum()}개")

# 중복 제거: drop_duplicates()
df_del_duplicated = df.drop_duplicates()
df_del_duplicated_res = df_del_duplicated.duplicated().sum()
print(f"중복 제거 후 중복된 행 수 재출력: {df_del_duplicated_res}개")

In [ ]:
# 특정 컬럼 중복 제거
# embarked 컬럼 기준 중복 제거

import seaborn as sns

df = sns.load_dataset('titanic')
df_embarked_no_dup = df.drop_duplicates(subset=['embarked'], keep='first')

print("전체 행 수:", df.shape[0])
print("전체 열 수:", df.shape[1])
print("embarked 기준 중복 제거 후:", df_embarked_no_dup.shape[0])

In [ ]:
# 논리적 이상값 탐지 예시

import seaborn as sns

df = sns.load_dataset('titanic')

# 나이(age)가 0 이하이거나 100 이상이면 이상치로 간주
df_abnormal_age = df[(df['age'] < 0) | (df['age'] > 100)]

print(df_abnormal_age[['age', 'embarked']])

In [ ]:
# 조건 기반 필터링

import seaborn as sns

df = sns.load_dataset('titanic')

# 논리 이상값 제거: 나이(age) 0 이하 또는 100 이상
df_cleaned = (
  df[
    (df['age'] > 0) &
    (df['age'] <= 100) |
    (df['age'].isna())
  ]
)

# 요금(fare)이 음수인 승객 제거
df_cleaned = df_cleaned[df_cleaned['fare'] >= 0]

print(df_cleaned[['age', 'fare']].describe())

In [ ]:
# 8-3 과제

# 1. 전체 중복된 행의 수 구하기
# 2. age 컬럼을 기준으로 중복을 제거하고, 제거 전/후 행 수를 비교
# 3. 나이가 0 이하 또는 100 이상인 승객 수 구하기
# 4. 요금(fare)이 음수인 승객이 있는지 확인
# 5. 위 조건을 적용해 논리 이상값을 제거한 데이터프레임 만들기

# sns.load_dataset('titanic')

In [ ]:
# 전체 중복 행 수

import seaborn as sns

df = sns.load_dataset('titanic')

df_dup = df.duplicated().sum()

print(f"titanic 중복된 행 수: {df_dup}개")

In [ ]:
# age 기준 중복 제거 전/후

import seaborn as sns

df = sns.load_dataset('titanic')

age_dup_before = df['age'].duplicated().sum()
age_no_dup = df.drop_duplicates(subset=['age'], keep='first')

print(f"age 컬럼 중복 제거 전 크기: {df.shape[0]}")
print(f"age 컬럼 중복 제거 후 크기: {age_no_dup.shape[0]}")

In [ ]:
# 나이가 0 이하 또는 100 이상인 승객 수

import seaborn as sns

df = sns.load_dataset('titanic')

abnormal_age = df[(df['age'] <= 0) | (df['age'] > 100)].shape[0]
print(f"이상 나이 승객 수: {abnormal_age}명")

In [ ]:
# 요금이 음수인 승객 유무

import seaborn as sns

df = sns.load_dataset('titanic')

negative_fare = df[df['fare'] < 0]
print("음수 요금 데이터:", negative_fare)

In [ ]:
# 논리 이상값 제거

import seaborn as sns

df = sns.load_dataset('titanic')
df_cleaned = df.copy()

# 나이 이상값 제거
df_cleaned = (
  df_cleaned[
    (df_cleaned['age'] > 0) &
    (df_cleaned['age'] <= 100) |
    (df_cleaned['age'].isna())
  ]
)

# 요금 음수 제거
df_cleaned = df_cleaned[df_cleaned['fare'] >= 0]

print("정제 후 데이터 크기", df_cleaned.shape)

In [ ]:
# 데이터 통합 및 병합

# 여러 데이터프레임 결합/병합 이해
# cancat, merge, join 사용법 실습
# 병합 시 누락값 처리 방법 학습

In [ ]:
# 가상 데이터 생성

import pandas as pd

# 고객 정보
df_customers = pd.DataFrame({
    'customer_id': [101, 102, 103, 104],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 34, 45, 23]
})

# 주문 정보
df_orders = pd.DataFrame({
    'order_id': [1, 2, 3, 4],
    'customer_id': [101, 102, 101, 105],
    'product': ['TV', 'Laptop', 'Tablet', 'Phone'],
    'amount': [500, 1000, 300, 600]
})

# merge() - 고객 + 주문 병합: pd.merge(), 공통키를 기준(on)
df_merged = pd.merge(df_orders, df_customers, on='customer_id', how='left')
display(df_merged)

# concat() - 세로로 붙이기