In [ ]:
# 특성 공학(Features Engineering)

# features = 컬럼(변수)
# 모델 성능 향상을 위해 feature 를 선택/생성/변환

In [ ]:
# 데이터 로딩

import seaborn as sns
import pandas as pd

pd.set_option('display.width', 200)

df = sns.load_dataset('titanic')

print("데이터셋 크기:", df.shape)
print(df.head(3))

In [ ]:
# 결측치 확인

import seaborn as sns

df = sns.load_dataset('titanic')

missing = df.isnull().sum().sort_values(ascending=False)
print(missing)

In [ ]:
# 불필요한 변수 제거

# deck - 결측치 많음
# alive - survived 와 중복
# embark_town - embarked 와 중복
# who/adult_male - sex 와 중복

import seaborn as sns

df = sns.load_dataset('titanic')

df_clean = df.drop(columns=['deck', 'alive', 'embark_town', 'who', 'adult_male'])

print('정제된 변수 목록:')

# print(df_clean.columns.tolist())
for clean in df_clean:
  print(clean)
# for문에서 실제로 반복되는 대상은 df_clean 자체가 아니라, df_clean.__iter__()가 반환하는 값
# 그리고 그 값은 df_clean.columns (컬럼 이름들)

In [ ]:
# 2. 수치형 변수 전처리 (스케일링, 이상치 처리 등)

import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler

pd.set_option('display.width', 200)

# 데이터 로드
df = sns.load_dataset('titanic')
df = df.dropna(subset=['age', 'fare'])
df = df.drop(columns=['deck', 'alive', 'embark_town', 'who', 'adult_male'])
print(df.head())

# 스케일링 적용
scaler = StandardScaler()
df[['age_scaled', 'fare_scaled']] = scaler.fit_transform(df[['age', 'fare']])
display(df[['age_scaled', 'fare_scaled']].describe())

# 이상치 확인 - IQR 방식
Q1 = df['fare'].quantile(0.25)
Q3 = df['fare'].quantile(0.75)
IQR = Q3-Q1
lower = Q1 - IQR * 1.5
upper = Q3 + IQR * 1.5

# 이상치 제거
df_out = df[
  (df['fare'] > lower) & (df['fare'] < upper)
]
print("이상치 제거 후 데이터 크기:", df_out.shape)

In [ ]:
# 2-3 수치형 변수 전처리
# age, fare 의 이상치 제거 및 스케일링 적용

from sklearn.preprocessing import StandardScaler

df = sns.load_dataset('titanic')

df = df.dropna(subset=['age', 'fare'])

df2 = df.dropna(subset=['age', 'fare'])
scaler = StandardScaler()
df2[['age_scaled', 'fare_scaled']] = scaler.fit_transform(df2[['age', 'fare']])
df2[['age_scaled', 'fare_scaled']].describe()

In [ ]:
# 범주형 변수 처리

# 수치가 아닌 분류(Classification)를 나타내는 변수
# ex) sex, embarked, class, pclass

# 변수 처리 방법
# 설명, \n, 예시 / 사용 시기

# Label Encoding - 범주를 정수로 매핑, 알파벳 순 변환
# male → 1, female → 0 / 순서가 있을 때

# One_Hot Encoding - 각 범주마다 이진 컬럼 생성
# 아래 사진 참고 / 순서가 없을 때

# get_dummies - Pandas 함수, One-Hot 방식
# pd.get_dummies(df, ...) / 간편하게 처리하고 싶을 때

In [ ]:
from IPython.display import Image
Image(filename='image/OneHot_Encoding.jpg', width=1000)

In [ ]:
# 데이터 로드

import seaborn as sns

df = sns.load_dataset('titanic')

df = df.drop(columns=['deck', 'alive', 'embark_town', 'who', 'adult_male'])
df = df.dropna(subset=["age", "fare", "embarked", "sex", "class"])

In [ ]:
# Label Encoding for 'sex'

import seaborn as sns
from sklearn.preprocessing import LabelEncoder

df = sns.load_dataset('titanic')

df = df.drop(columns=['deck', 'alive', 'embark_town', 'who', 'adult_male'])
df = df.dropna(subset=["age", "fare", "embarked", "sex", "class"])

le = LabelEncoder()
df['sex_encoded'] = le.fit_transform(df['sex'])
display(df[['sex', 'sex_encoded']].head())
# 알파벳 순서대로 변환 A = 0, B = 1

In [ ]:
# One-hot encoding for 'embarked' and 'class'
# get_dummies 메서드는 One-hot encoding을 자동으로 해주는 pandas의 내장 함수

import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')

df = df.drop(columns=['deck', 'alive', 'embark_town', 'who', 'adult_male'])
df = df.dropna(subset=["age", "fare", "embarked", "sex", "class"])

df_onehot = pd.get_dummies(df, columns=['embarked', 'class'], drop_first=True)
display(df_onehot.head())

print("One-Hot Encoding 후 컬럼:")
for col_list in df_onehot:
  print(col_list)

In [ ]:
# 3-3 과제 - 범주형 변수 처리
# sec, embarked, class를 one-hot encoding 처리

import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')

df = df.drop(columns=['deck', 'alive', 'embark_town', 'who', 'adult_male'])
df = df.dropna(subset=["age", "fare", "embarked", "sex", "class"])

df_onehot = pd.get_dummies(df, columns=['sex', 'embarked', 'class'], drop_first=True)
display(df_onehot.head())

In [ ]:
# 4. 파생 변수 생성

# 1) 파생 변수란
# 기존 변수를 가공해서 만든 새로운 의미의 변수(컬럼)
# 데이터에 도메인 지식을 더하는 중요한 과정

# 2) 파생 변수 생성 유형
# 수치형 변환: 나이 → 연령대
# 수치 조합: 요금 / 인원원
# 그룹 통계: 
# 날짜 파생: 

# 3) 
# VarianceThreshold - 분산이 거의 없는 변수 제거
# 상관관계 분석 - 서로 너무 유사한 변수(중복) 제거 
# 모델 기반 중요도 - 모델이 학습하면서 파악한 중요도가 낮은 변수 제거

In [ ]:
# 4-2 실습

# 1. age_group 컬럼 생성
# 2. fare_per_person 계산
# 3. class 그룹별 평균 요금 추가
# 4. 상관관계 기반 feature 확인

In [ ]:
# titanic 데이터 로드 및 전처리

import seaborn as sns

df = sns.load_dataset('titanic')
df = df.drop(columns=['deck', 'alive', 'embark_town', 'who', 'adult_male'])
df = df.dropna(subset=['age', 'fare', 'embarked', 'sex', 'class'])

In [ ]:
# 나이 구간화 (파생 변수 생성)

import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')
df = df.drop(columns=['deck', 'alive', 'embark_town', 'who', 'adult_male'])
df = df.dropna(subset=['age', 'fare', 'embarked', 'sex', 'class'])

# age 컬럼 값, 즉 나이가 몇살까지 있는지 확인
print(df['age'].sort_values(ascending=False).head())

df['age_group'] = pd.cut(
  df['age'],
  bins=[0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
  labels=['10대미만', '10대', '20대', '30대', '40대', '50대', '60대', '70대', '80대']
)
display(df[['age', 'age_group']].head())

In [ ]:
# 1인당 요금 계산

import seaborn as sns

df = sns.load_dataset('titanic')
df = df.drop(columns=['deck', 'alive', 'embark_town', 'who', 'adult_male'])
df = df.dropna(subset=['age', 'fare', 'embarked', 'sex', 'class'])

df['fare_per_person'] = df['fare'] / (df['sibsp'] + df['parch'] + 1)
display(df[['fare', 'sibsp', 'parch', 'fare_per_person']].head())

In [ ]:
# 클래스별 평균 요금 추가

import seaborn as sns

df = sns.load_dataset('titanic')
df = df.drop(columns=['deck', 'alive', 'embark_town', 'who', 'adult_male'])
df = df.dropna(subset=['age', 'fare', 'embarked', 'sex', 'class'])

df['class_fare_avg'] = df.groupby('class', observed=True)['fare'].transform('mean')
# 그냥.mean()과 transform('mean')의 차이 검색
display(df[['class', 'fare', 'class_fare_avg']].head())

In [ ]:
# 상관관계 분석

import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['font.family'] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns

df = sns.load_dataset('titanic')
df = df.drop(columns=['deck', 'alive', 'embark_town', 'who', 'adult_male'])
df = df.dropna(subset=['age', 'fare', 'embarked', 'sex', 'class'])

# select_dtypes(include="number") - 수치형 데이터 추출
numeric_cols = df.select_dtypes(include="number")
display(numeric_cols.head())

corr = numeric_cols.corr()

plt.figure(figsize=(10, 6))
sns.heatmap(corr, annot=True, cmap='coolwarm', fmt='.2f')
plt.title('Feature Correlation Matrix')
plt.show()

In [ ]:
# 4-3 과제 (파생 변수 생성)

# 1. age_group 파생 (10대, 20대 등)
# 2. fare_per_person = fare / sibsp + 1 생성
# 3. 그룹별 평균 요금(class별) 파생

import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')
df = df.drop(columns=['deck', 'alive', 'embark_town', 'who', 'adult_male'])
df = df.dropna(subset=['age', 'fare', 'embarked', 'sex', 'class'])

# 나이 구간
df['age_group'] = pd.cut(
  df['age'],
  bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
  labels = [
    '10대미만', '10대', '20대', '30대', '40대', '50대', '60대', '70대', '80대'
  ]
)

# 1인당 요금
df['fare_per_person'] = df['fare'] / (df['sibsp'] + df['parch'] + 1)

# class 별 평균 요금
df['class_fare_avg'] = df.groupby('class', observed=True)['fare'].transform('mean')

display(df[['age', 'age_group', 'fare', 'fare_per_person', 'class_fare_avg']].head())