In [ ]:
# Q1
"""
- 출석번호 재정렬
현재 학생이 3명 있다고 가정하고, 전학을 오는 친구가 있으면 그 친구를 포함하여 오름차순으로 번호를 부여

현재 학생은 ['이황', '이이', '원효']
전학 온 학생은 누구입니까? 홍길동
['이황', '이이', '원효', '홍길동']
번호 재정렬...
1. 원효
2. 이이
3. 이황
4. 홍길동
"""

In [ ]:
# Q2
"""
- 좋아하는 음식 목록 만들기
좋아하는 음식을 3개 입력받아 리스트에 저장하고 출력
1번째로 좋아하는 음식을 입력하세요: 피자
2번째로 좋아하는 음식을 입력하세요: 떡볶이
3번째로 좋아하는 음식을 입력하세요: 치킨
당신이 좋아하는 음식 목록: ['피자', '떡볶이' ,'치킨']
"""

In [ ]:
# Q3
"""
- 숫자 리스트 평균 구하기
숫자 5개를 입력받아 평균을 구해서 출력하기
1번째 숫자를 입력하세요: n
2번째 숫자를 입력하세요: n
...
입력한 숫자들의 평균은: n
"""

In [ ]:
# Q4
"""
- 이름 거꾸로 출력하기
이름을 3개 입력받아 리스트에 저장하고 거꾸로 출력하기
1번째 이름을 입력하세요: 철수
2번째 이름을 입력하세요: 영희
3번째 이름을 입력하세요: 민수
이름을 거꾸로 출력
민수
영희
철수
"""

In [ ]:
# Q5
"""
- 무작위 짝수만 
무작위 숫자 5개를 입력받아 그 중 짝수만 출력하기
숫자를 입력하세요: n
숫자를 입력하세요: n
...
입력한 짝수들: [n, n]
"""

In [ ]:
# Q6
"""
- 특정 숫자 제거하기
리스트에서 입력한 숫자를 찾아 제거하기
초기 숫자는 10, 20, 30, 40, 50 이다
"""

In [ ]:
# Q7
"""
- 최대값과 최소값 구하기
숫자 5개를 입력받아 가장 큰 값과 가장 작은 값을 구하기
숫자를 입력하세요: n
숫자를 입력하세요: n
...
최대값: n
최소값: n
"""

In [ ]:
# Q8
"""
- 단어 빈도수 세기
문장을 입력받아 각 단어가 몇 번씩 나왔는지 출력하기
문장을 입력하세요: 나는 너를 사랑해 사랑해
단어별 등장 횟수:
나는: 1
너를: 1
사랑해: 2
"""

In [ ]:
# Q9
"""
- 중복 제거 후 정렬
중복된 숫자를 제거하고 정렬된 리스트를 출력하기
숫자를 입력하세요: n
숫자를 입력하세요: n
...
중복 제거 후 정렬된 리스트: [n, n, n, n]
"""