# 1. 변수(var)

In [5]:
# 변수: 값이 변경
# x=5: 수학
# 컴퓨터- 숫자 5를 x라는 변수에 저장

# int - 정수
# float - 실수
# str - 문자열
# bool - 불리언(true or false)

In [6]:
# var01.py
x=5 # 정수형 변수
y=3.14 # 실수형 변수
name = "Python" # 문자열 변수
print(x) # 출력: 5
print(y) # 출력: 3.14
print(name) # 출력: Python

5
3.14
Python

In [7]:
# var02.py
a = 42 # int
b = 3.14159 # float
c = "Hello" # str
d = True # bool

# 각 데이터 타입 출력
print(type(a)) # <class 'int'>
print(type(b)) # <class 'float'>
print(type(c)) # <class 'str'>
print(type(d)) # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
# var03.py
# 정수 -> 실수로 변환
a = 10
b = float(a) # b는 이제 실수형
print(b) # 출력: 10.0

# 문자열 -> 정수로 변환
s = "123"
num = int(s) #num은 이제 정수형
print(num) # 출력: 123

#정수에서 문자열로 변환
x = 100
str_x = str(x) # 출력: "100"
print(str_x)
print(type(str_x))

# 문자열에서 실수로 변환
y = "3.14"
yf = float(y) # 출력: 9.8596
print(yf**2)

10.0
123
100
<class 'str'>
9.8596

## 2. 연산자(op)

In [4]:
# op01.py
# 산술 연산자 (Arithmetic Operators)
a = 10
b = 3
print(round(a/b,2)) # 출력: 3.33
print(a//b) # 출력: 3
print(a%b) # 출력: 1
print(a**b) # 출력: 1000

3.33
3
1
1000

In [3]:
# op02.py
# 비교 연산자 (Comparison Operators)
"""
== : 같음
!= : 다름
>  : 크다
<  : 작다
>= : 크거나 같음
<= : 작거나 같음
"""
x = 5
y = 10
print(x == y) # 출력: False
print(x != y) # 출력: True
print(x > y) # 출력: False
print(x < y) # 출력: True
print(x >= y) # 출력: False
print(x <= y) # 출력: True

False
True
False
True
False
True

In [1]:
# op03.py
# 논리 연산자 (Logical Operators)
"""
1 - True / 0 - False

and 연산
- (예 : 서류심사 통과 [이력서, 자기소개서 모두 구비된 경우 합격])
- 두 조건이 모두 True라면 True 반환
    1010
    1100
    ----
    1000

or 연산
- (예 : 증명서 첨부 [재직증명서, 경력 증명서 중에 하나만 있어도 합격])
- 두 조건 중 하나라도 True라면 True 반환
    1010
    1100
    ----
    1110

not 연산
- (예 : ?)
- 조건을 반전시킴 True는 False로, False는 True로
    1010
    ----
    0101
"""
a = True
b = False
print(a and b) # 출력: False
print(a or b) # 출력: True
print(not a) # 출력: False
print(not b) # 출력: True

False
True
False
True

In [39]:
# op04.py
# 대입 연산자 (Assignment Operators)
"""
= : 변수에 값을 할당
+= : 변수에 값을 더한 후 할당
-= : 변수에 값을 뺀 후할당
*= : 변수에 값을 곱한 후 할당
/= : 변수에 값을 나눈 후 float(실수)으로 할당
//= : 변수에 값을 같은 나눈 후 int(정수)로 할당
%= : 변수에 값을 나눈 나머지를 할당
**= : 변수에 값을 거듭제곱한 후 할당
"""
x = 10
x += 5
print(x) # 출력: 15

x -= 3
print(x) # 출력: 12

x *= 4
print(x) # 출력: 48

x /= 2.5
print(x) # 출력: 19.2

x //= 3
print(x) # 출력: 6, // floor division [소수점 없이 "내림한 정수"]

x %= 1.4
print(x) # 출력: 0.40000000000000036

x **= 3
print(x) # 출력: 0.06400000000000017

15
12
48
19.2
6.0
0.40000000000000036
0.06400000000000017

In [34]:
# op05.py
# 멤버십 연산자 (Membership Operators)
"""
a = 5
a = 5, 10, 15, 30 : 수학에선 가능, 컴퓨터에선 불가능
a = [5, 10, 15, 30] : 저장된 내용이 순차적 위치를 지정(주소값)
"""
fruits = ["apple", 'banana', 'cherry']
print("apple" in fruits) # 출력: True
print("apple" not in fruits) # 출력: False

True
False

In [40]:
# op06.py
# 식별 연산자 (Identitiy Operators, 비교)
# 객체 비교(a, b, c)
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b) # 출력: False - 다른 객체이지만 값은 동일
print(a is not b) # 출력: True
c = a
print(a is c) # 출력: True - 같은 객체를 참조

False
True